*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.contenedor{    
    background-color:azure ;
    width: 90%;
    margin: 0 auto;
    height: 100vh;
    gap: 2%;
    display: flex;
    flex-direction: column; 
}

/* HEADER */

header{
    padding: 2%;
    background-color: black;
    flex-basis: 40%;
    display: flex;
    flex-direction: column;
    gap: 8px;
}
.caja1{
    flex-basis: 50%;
    background-color:rgb(77, 77, 179);
    padding: 3%;
    display: flex;
    flex-direction: row;
    gap: 18px;
}
.box1 {
    background-color: brown;
    flex-basis: 20%;
}
.box2{
    flex-basis: 60%;
    background-color: brown;
}
.box3 {
    background-color: brown;
    flex-basis: 20%; 
}
.caja2{
    padding: 3%; 
    flex-basis: 50%;
    display: flex;
    flex-direction: row; 
    background-color: orangered;
}
.box4{
    flex-basis: 100%;
    background-color: rgb(221, 186, 122);
}

/* SECCION */

.seccion{
    background-color: black;
    padding: 3%;
    display: flex; 
    gap: 8px;
    flex-basis: 50%;
    flex-direction: row;
}
.seccion-div{
    background-color: darkslategray;
    gap: 7% ;
    flex-direction: column;
    flex-basis: 75%;
    display: flex;
    padding: 3%;
}
.articulos-div1{ 
    flex-basis: 30%;
    display: flex;
    flex-flow: row column; 
    gap: 8px; 
}
.articulos-div2{ 
    flex-basis: 30%;
    display: flex;
    flex-flow: row column; 
    gap: 8px;
}
.articulos-div3{
    background-color: aquamarine;
    flex-basis: 25%;    
} 
.articulo1   {
    background-color: rgb(87, 87, 172);
    flex-basis: 100%;
}
.articulo2{
    background-color: rgb(87, 87, 172);
    flex-basis: 100%;
}
.articulo3{
    background-color: rgb(87, 87, 172);
    flex-basis: 100%;
}
.articulo4{
    background-color: rgb(87, 87, 172);
    flex-basis: 100%;
}


/* ASIDE */

aside{
    background-color: rgb(161, 45, 45);
    padding: 5%;
    display:flex;   
    gap: 10%;
    flex-direction: column;
    flex-basis: 25%;
 }
.aside1 {
    background-color: rgb(241, 241, 66);
    flex-basis: 20%;
}
.aside2{
    background-color: rgb(241, 241, 66);
    flex-basis: 20%;
}

/* FOOTER */

footer{
    flex-basis: 12%;
    background-color: black;
    padding: 2%;
    display: flex;
}
.footer{
    flex-basis: 100%;
    background-color: orange;
}

/* parte donde lo adapto a tablet */

@media screen and (max-width: 768px) {
    
 .seccion{
    background-color: yellow;
    flex-direction: column;
 }
aside{
    flex-basis: 60%;     
 } 
.aside1{
    flex-basis: 60%;
 }
 .aside2{
    flex-basis: 60%;
 }
}

/* parte donde lo adapto para moviles */

@media screen and (max-width: 360px) {

.seccion{
    flex-direction: column;
    background-color: rgb(54, 63, 45);
}    
aside{
    flex-basis: 50%;        
} 
.aside1{
    flex-basis: 50%;
}
.aside2{
    flex-basis: 50%;
}
}   